.card:hover .container{
    top: 0%;
}
@media (max-width: 769px) {
    #about{
        flex-direction: column;
        gap: 7vh;
        justify-content: center;
        align-items: center;
        padding: 0 3vw;
    }
    #about .left{
        width: 100vw;
        height: fit-content;
    }
    #about .right{
        width: 100vw;
        height: fit-content;
        align-items: center;
        justify-content: center;
        margin-top: 5vh;
    }
}