.mobileForm{
    display: none;
}
@media (max-width: 768px) {
    #contact .left{
        display: none;
    }
    #contact .desktopForm{
        display: none;
    }
    #contact .right{
        flex-direction: column;
        gap: 5vh;
        justify-content: center;
        align-items: center;
    }

    #contact .mobileForm{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
    }
}